<div class="col-xs-3 banner-body-left">
	<div class="logo">
		<h1><a href="index.html">Great <span>Taste</span></a></h1>
	</div>
	<div class="top-nav">
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="stroke">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/" class="hvr-underline-from-left"><i class="home"></i>Home</a></li>
						<li><a href="photos.html" class="hvr-underline-from-left"><i class="picture1"></i>Photos</a></li>
						<li><a href="/blog" class="hvr-underline-from-left"><i class="edit1"></i><% if(user){ %>My <% } %>Blog</a></li>
						<% if(user){ %>
						<li><a href="/post" class="hvr-underline-from-left"><i class="text-size1"></i>expressed</a></li>
						<li><a href="/logout" class="hvr-underline-from-left"><i class="envelope1"></i>logout</a></li>
						<% }else{ %>
						<li><a href="/login" class="hvr-underline-from-left"><i class="text-size1"></i>login</a></li>
						<li><a href="/reg" class="hvr-underline-from-left"><i class="envelope1"></i>register</a></li>
						<% } %>
					</ul>
				</nav>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
	
	
	<div class="latest-news">
		<h2>Latest News</h2>
        <style>
            .panel-heading{margin-bottom:10px}
            .panel-month{cursor:pointer; background:#f1f1f1;margin-left:8px;padding-left:8px}
            .panel-collapse>h5{line-height:30px;margin:10px 0;}
            .panel-collapse>a{display:block;padding-left:10px;line-height:26px; background: #f8f8f8; color: #666;margin-bottom:10px;margin-left:16px;padding-left:8px}
        </style>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="panel panel-default">
            <%
                var lastArchive = 0;
                var lastMonth = 0;
                var t=0,p=0;
                archive.forEach(function(archive, index){
            %>
            <% if(lastArchive != archive.time.year){
                lastArchive = archive.time.year;
                t++;
            %>
			<div class="panel-heading" data-ff="<%= t %>">
			  <h4 class="panel-title">
				<a data-parent="#accordion" href="javascript:;">
				  <%= archive.time.year %>
				</a>
			  </h4>
			</div>
            <% } %>
            <% if(lastMonth != archive.time.month){
              lastMonth = archive.time.month;
              p++;
            %>
                <div class="panel-collapse panel-month collapse month<%= t %>" data-ff="<%= p %>">
                      <h5><%= archive.time.month %>月</h5>
                </div>
            <% } %>
               <div class="panel-collapse collapse title<%= p %>">
                  <a href="/blog/<%= archive.name %>/<%= archive.time.day %>/<%= archive.title %>"><%= archive.title %></a>
               </div>
            <% }) %>


        </div>
		</div>
		<div class="join">
			<a href="single.html">Learn More</a>
		</div>
        <script>
            $('.panel-heading').click(function(){
                var k = $(this).attr('data-a');
                var i = 'month' + $(this).attr('data-ff');
                if(k==1){
                    $('.'+i).hide();
                    $(this).attr('data-a','0');
                }else{
                    $('.'+i).show();
                    $(this).attr('data-a','1');
                }
            })
            $('.panel-month').click(function(){
                var k = $(this).attr('data-a');
                var i = 'title' + $(this).attr('data-ff');
                if(k==1){
                    $('.'+i).hide();
                    $(this).attr('data-a','0');
                }else{
                    $('.'+i).show();
                    $(this).attr('data-a','1');
                }
            })
        </script>
		<h3>Benefits</h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
	</div>

</div>
